<div class="container">
  <div class="row">
    <h2 class="center-align">Sign up</h2>
  </div>

  <div class="row center-align">
    <div class="col s12 m6 l4 push-m3 push-l4">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field input-field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field input-field">
          <%= f.label :password, 'Senha' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres no mínimo)</em>
          <% end %><br /><br>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field input-field">
          <%= f.label :password_confirmation, 'Confirmação de senha' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Cadastrar-se", class: 'btn red' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
