<%= form_for @comment, url: occurrence_comments_path(@occurrence.id), remote: true do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
  <% end %>

  <div class="col s12 m8">
    <div class="field">
      <%= f.text_area :body, onkeyup: 'validateOccurrenceCommentBody()' %>
    </div>
  </div>

  <div class="col 12 m4">
    <div class="actions">
      <%= f.submit 'Enviar', class: 'btn red', id: 'occurrence_comment_submit_button', onclick: 'validateOccurrenceCommentBody()' %>
    </div>
  </div>
<% end %>
