<% if current_user.present? %>
  <div id="new_occurrence_modal" class="modal">
    <div class="modal-content center-align">
      <%= form_for(@occurrence) do |f| %>
        <% if @occurrence.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@occurrence.errors.count, "error") %> prohibited this occurrence from being saved:</h2>

            <ul>
            <% @occurrence.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.label :date %><div id="occurrence_date_error" class="red-text">(Digite uma data válida!)</div>
        <%= f.text_field :date, class: 'date', placeholder: 'dd/mm/aaaa', onkeyup: 'validateDate()' %>

        <%= f.label :hour %><div id="occurrence_hour_error" class="red-text">(Digite um horário válido!)</div>
        <%= f.text_field :hour, class: 'hour', placeholder: 'hh:mm', onkeyup: 'validateHour()' %>


        <%= f.label :location %>
        <%= f.text_field :location %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.submit 'Submeter', class: 'modal-action modal-close btn red', id: 'submit_button' %>
      <% end %>
    </div>
  </div>

  <%= content_for :js do %>
    <script>
      $('#add_occurrence').bind('ajax:success', function() {
          alert('Ocorrência adicionada!');
      });
    </script>
  <% end %>
<% end %>
